@import "./particiones.scss/variables";
@import "./particiones.scss/generalStyles";
@import "./particiones.scss/header";
@import "./particiones.scss/main";
@import "./particiones.scss/tienda";
@import "./particiones.scss/soporte";
@import "./particiones.scss/productos";
@import "./particiones.scss/carousel";
@import "./particiones.scss/cursos";
@import "./particiones.scss/contact_form";






/* Comienzo Section Preguntas-Frecuentes */

.hero.preguntas-frecuentes::before{
    background-image: linear-gradient(180deg, #00000077 0%, #00000077 100%), url("../assets/img/vector-circle-hero.png");
}

/* Sección Questions */

.questions{
    text-align: $align_txt;
}

.questions >.cta{
    margin-top: 1.5rem;
}

.questions__container{
    display: grid;
    gap: 1em;
    padding-top: 3.12rem;
    padding-bottom: 6.25 rem;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid $price;
    background-color: $main_color;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 1.87rem;
}


.questions__answer{
    padding: 0 1.87rem 0;
    overflow: hidden;
}

.questions__title{
    display: flex;
    font-size: 1.25rem;
    padding: 1.87rem 0 1rem;
    cursor: pointer;
    color: $buttons;
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: $price;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: $align_txt;
    align-items: $align_txt;
    align-self: flex-end;
    margin-left: 0.5rem;
    transition: trasform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
    overflow: hidden;
}

.questions__img{
    display: block;
}

/* Fin Section Preguntas-Frecuentes */

/* Section banner */

.banner{
    background-color: $main_color;
    background: $gradient_bc2;
}

.banner__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: $align_txt;
}

.banner__picture{
    max-width: 500px;
}

.banner__img{
    width: 100%;
    display: block;
}

.banner__paragraph{
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.banner__texts{
    font-size: 1em;
    line-height: 1.7;
} 

/* Footer */

.footer{
    background: $gradient_bc4;
}


.footer__title, .footer__newsletter{
    color: $main_color;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1.87rem;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $main_color;
    padding-bottom: 3.75rem;
}

.nav--footer{
    padding-bottom: 1.25rem;
    display: grid;
    /* grid-template-columns: 1fr; */
    gap: 1em;
    grid-auto-flow: row;
    height: 100%; 
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-left: 1.4rem;
    flex-wrap: wrap;
    /* flex-direction: column; */
}  

.footer__inputs{
    margin-top: .5rem;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
} 

.footer__input{
    background-color: $main_color;
    height: 3.12rem;
    display: block;
    padding-left: 0.5rem;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 1rem;
}

.footer__form form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer__submit{
    margin: auto;
    display: inline-block;
    height: 3.12rem;
    padding: 0 1.25rem;
    background-color: $buttons_hov;
    border: none;
    font-size: 1rem;
    color: $main_color;
    border-radius: 6px;
}

.footer__copy{
    --padding-container: 1.87rem 0;
    text-align: $align_txt;
    color: $main_color;
}

.footer__social{
    margin: 1.87rem 0;
}

.footer__copyright{
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 1.87rem;
}

.footer__icons{
    margin-bottom: .5rem;
    font-size: 1rem;
}

.footer__img{
    width: 1.87rem;

}