@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: rgb(119, 1, 90);
  color: rgb(255, 255, 255);
}
*::selection {
  background-color: rgb(119, 1, 90);
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(219, 216, 227);
  font-family: "Roboto", sans-serif;
}
body .contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
}

/* Hero - Header Section*/
/*Nav Header*/
/*Hero Section*/
.hero__container {
  max-width: 800px;
  display: grid;
  --padding-container:0;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.hero__container .hero__title {
  font-size: 3rem;
}
.hero__container .hero__paragraph {
  margin-bottom: 1.2rem;
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: rgb(255, 255, 255);
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4666666667) 0%, rgba(0, 0, 0, 0.4666666667) 100%), url("../assets/img/gaming-setup-5.png");
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 95%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 95%, 0 80%);
  z-index: -1;
}
.hero .cta, .hero .footer__submit {
  display: inline-block;
  text-align: center;
  background-color: rgb(119, 1, 90);
  color: rgb(255, 255, 255);
  justify-self: center;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 32px;
}
.hero .cta:hover, .hero .footer__submit:hover {
  background-color: rgb(187, 46, 138);
  box-shadow: 5px 5px 20px rgba(88, 8, 68, 0.829);
  color: rgb(255, 255, 255);
}

.navbar__container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.navbar__link {
  padding-right: 1.5rem;
  list-style: none;
}

.navbar__link-brand img {
  width: 10rem;
  margin-top: 1.5rem;
}

.navbar__items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.navbar__link-toggle {
  display: none;
}

/* Comienzo Section About */
main .about {
  text-align: center;
  color: rgb(36, 35, 35);
}
main .about .subtitle {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(133, 8, 101);
  font-weight: 600;
}
main .about .about__paragraph {
  line-height: 1.7;
  margin-bottom: 2rem;
  font-weight: 600;
}
main .about .about__main {
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  justify-content: center;
}
main .about .about__main .about__icons {
  display: grid;
  gap: 2em;
  justify-items: center;
  width: 15rem;
  overflow: hidden;
  margin: 1rem 0;
  padding: 2rem 0.8rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(88, 8, 68, 0.829);
  cursor: default;
  transition: all 400ms ease;
  color: rgb(36, 35, 35);
  font-size: 400 !important;
}
main .about .about__main .about__icons .about__icon .fas i {
  font-size: 1rem;
}
main .about .about__main .about__icons .about__icon__plus {
  width: 30px;
  color: rgb(36, 35, 35);
}
main .about .about__main .about__icons:hover {
  box-shadow: 1px 1px 20px 10px rgba(88, 8, 68, 0.555);
  transform: translateY(-3%);
  background: linear-gradient(-225deg, #8a0444 0%, #600764 50%, #1a0a3d 100%);
  color: rgb(255, 255, 255);
}
main .about .about__main .about__icons:hover .about__icon__plus {
  color: rgb(255, 255, 255);
}

/* Fin Section About */
/*Hero Section Tienda*/
.hero.tienda::before {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4666666667) 0%, rgba(0, 0, 0, 0.4666666667) 100%), url("../assets/img/thank-you-hero3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Hero Section Soporte*/
.hero.soporte::before {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4666666667) 0%, rgba(0, 0, 0, 0.4666666667) 100%), url("../assets/img/camara-vintage-hero2.jpg");
}

/* Hero Section Productos */
.hero.productos::before {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4666666667) 0%, rgba(0, 0, 0, 0.4666666667) 100%), url("../assets/img/nebula-hero.png");
}

/* Carousel*/
.carrousel-container {
  background: linear-gradient(111.9deg, rgb(221, 49, 49) 0.3%, rgb(0, 8, 119) 100.7%);
}
.carrousel-container .carousel-inner {
  box-shadow: 3px -1px 61px 9px rgba(219, 216, 227, 0.88);
  -webkit-box-shadow: 3px -1px 61px 9px rgba(219, 216, 227, 0.88);
  -moz-box-shadow: 3px -1px 61px 9px rgba(219, 216, 227, 0.88);
}
.carrousel-container .carousel-inner .carousel-item img {
  max-height: 600px;
}

.carousel-control-prev-icon .carousel-control-next-icon {
  font-weight: 700;
}

/* Comienzo Hero Section Cursos */
.hero.cursos::before {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4666666667) 0%, rgba(0, 0, 0, 0.4666666667) 100%), url("../assets/img/boys1.png");
}

/* Background Section Cursos */
.curso {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

/* Precios de Cursos-sección price */
.price > .subtitle {
  margin-top: 1rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  color: rgb(119, 1, 90);
}
.price .price__table {
  padding-top: 3.75rem;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.price .price__table #price__element {
  display: grid;
  gap: 2em;
  justify-items: center;
  width: 20rem;
  overflow: hidden;
  margin: 1rem 0;
  padding: 2rem 0.8rem;
  border-radius: 10px;
  box-shadow: -5px -5px 30px 18px rgba(69, 40, 94, 0.397);
}
.price .price__table #price__element .price__name {
  color: rgb(136, 42, 100);
  font-size: 2rem;
  font-weight: 600;
}
.price .price__table #price__element .price__name__bold {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}
.price .price__table #price__element .price__price {
  font-size: 1.5rem;
  color: rgb(246, 2, 105);
}
.price .price__table #price__element .price__curses .price__features {
  padding: 0 1rem;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
}
.price .price__table #price__element .price__cta {
  width: 70%;
  display: block;
  text-align: center;
  background: rgb(119, 1, 90);
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  position: relative;
  left: 0 auto;
  top: 1rem;
}
.price .price__table #price__element .price__cta:hover {
  background-color: rgb(187, 46, 138);
  box-shadow: 5px 5px 20px rgba(88, 8, 68, 0.829);
  color: rgb(255, 255, 255);
}
.price .price__table #price__element:hover > .price__name {
  color: rgb(255, 255, 255);
}

/* Comienzo Sección Opiniones/Testimony */
.testimony {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
.testimony .testimony__container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}
.testimony .testimony__container .testimony__arrow {
  width: 90%;
  cursor: pointer;
}
.testimony .testimony__container .testimony__body {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}
.testimony .testimony__container .testimony__body--show {
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.testimony .testimony__container .testimony__body--show .testimony__texts {
  max-width: 800px;
}
.testimony .testimony__container .testimony__body--show .testimony__texts .testimony__subtitle {
  color: rgb(2, 17, 60);
}
.testimony .testimony__container .testimony__body--show .testimony__texts .testimony__review {
  font-size: 1.25rem;
}

.testimony__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}

.testimony__course {
  background-color: rgb(187, 46, 138);
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0.6rem;
}

.testimony__arrow {
  width: 90%;
  cursor: pointer;
}
.testimony__arrow > img {
  color: rgb(255, 255, 255);
}

/* Fin Hero-Section-Cursos */
.hero.contacto::before {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4666666667) 0%, rgba(0, 0, 0, 0.4666666667) 100%), url("../assets/img/fondo-hero-piedras.png");
}

.contenedor form {
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.row__center {
  display: flex;
  justify-content: center;
}

.subtitle__form {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  color: rgb(133, 8, 101);
}

.form__paragraph {
  text-align: center;
  font-size: 1rem;
  color: rgb(133, 8, 101);
}

.form-label {
  font-weight: 600;
  color: rgb(133, 2, 100);
  margin-top: 1.5rem;
}

.form-control {
  border: 3px solid rgb(133, 2, 100);
  border-radius: 16px;
}

.form__paragraph {
  text-align: center;
  color: rgb(36, 35, 35);
}

.form-check {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: rgb(133, 2, 100);
  font-weight: 600;
}

.form-check-input {
  border: 3px solid rgb(136, 42, 100);
}

.form-check-input[type=checkbox]:checked {
  background-color: rgb(136, 42, 100);
}

.form-check-input:checked {
  border: 3px solid rgb(187, 46, 138);
}

.form-control:focus {
  border: 3px outset #f54666;
}

.nav__items {
  list-style: none;
}

.nav__links--footer {
  display: flex;
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  flex-wrap: wrap;
  color: white;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
}

.nav__links--footer:hover {
  color: rgb(255, 255, 255);
  border-radius: 15px;
  background: rgb(187, 46, 138);
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  box-shadow: rgb(119, 1, 90);
  transition: 0.3s ease-in-out;
}

/* Fin Section Contacto */
/* Section banner */
.banner {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

.banner__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: center;
}

.banner__picture {
  max-width: 500px;
}

.banner__img {
  width: 100%;
  display: block;
}

.banner__paragraph {
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.banner__texts {
  font-size: 1em;
  line-height: 1.7;
}

/* Comienzo Section Preguntas-Frecuentes */
.hero.preguntas-frecuentes::before {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4666666667) 0%, rgba(0, 0, 0, 0.4666666667) 100%), url("../assets/img/vector-circle-hero.png");
}

/* Sección Questions */
.questions {
  text-align: center;
}

.questions > .cta {
  margin-top: 1.5rem;
}

.questions__container {
  display: grid;
  gap: 1em;
  padding-top: 3.12rem;
  padding-bottom: 6.25 rem;
}

.questions__padding {
  padding: 0;
  transition: padding 0.3s;
  border: 1px solid rgb(136, 42, 100);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}

.questions__padding--add {
  padding-bottom: 1.87rem;
}

.questions__answer {
  padding: 0 1.87rem 0;
  overflow: hidden;
}

.questions__title {
  display: flex;
  font-size: 1.25rem;
  padding: 1.87rem 0 1rem;
  cursor: pointer;
  color: rgb(119, 1, 90);
  justify-content: space-between;
}

.questions__arrow {
  border-radius: 50%;
  background-color: rgb(136, 42, 100);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 0.5rem;
  transition: trasform 0.3s;
}

.questions__arrow--rotate {
  transform: rotate(180deg);
}

.questions__show {
  text-align: left;
  height: 0;
  transition: height 0.3s;
  overflow: hidden;
}

.questions__img {
  display: block;
}

/* Fin Section Preguntas-Frecuentes */
/* Footer */
.cta, .footer__submit {
  display: inline-block;
  text-align: center;
  background-color: rgb(119, 1, 90);
  color: rgb(255, 255, 255);
  justify-self: center;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 32px;
}
.cta:hover, .footer__submit:hover {
  background-color: rgb(187, 46, 138);
  box-shadow: 5px 5px 20px rgba(88, 8, 68, 0.829);
  color: rgb(255, 255, 255);
}

.footer {
  background: linear-gradient(180.8deg, rgb(54, 4, 51) 6.9%, rgb(22, 1, 21) 73.2%);
}

.footer__title, .footer__newsletter {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1.87rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 3.75rem;
}

.nav--footer {
  padding-bottom: 1.25rem;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%;
}

.nav__link--footer {
  display: flex;
  margin: 0;
  margin-left: 1.4rem;
  flex-wrap: wrap;
}

.footer__inputs {
  margin-top: 0.5rem;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
}

.footer__input {
  background-color: rgb(255, 255, 255);
  height: 3.12rem;
  display: block;
  padding-left: 0.5rem;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 1rem;
}

.footer__form form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__copy {
  --padding-container: 1.87rem 0;
  text-align: center;
  color: rgb(255, 255, 255);
}

.footer__social {
  margin: 1.87rem 0;
}

.footer__copyright {
  font-weight: 300;
  font-size: 1rem;
  padding-bottom: 1.87rem;
}

.footer__icons {
  margin: 1rem 0.5rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 400 !important;
}
.footer__icons:hover {
  color: rgb(218, 82, 184);
  text-shadow: 6px 6px 20px rgba(235, 132, 201, 0.849);
}

@media only screen and (max-width: 768px) {
  .navbar__container {
    justify-content: center;
    flex-direction: column;
  }
  .navbar__link-brand .img__logo img {
    width: 6rem;
    padding-bottom: 1rem;
    z-index: 1;
  }
  .navbar__items {
    display: none;
  }
  .navbar__items--right {
    margin-left: 0;
  }
  .navbar__toggleShow {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: linear-gradient(180.8deg, rgb(54, 4, 51) 6.9%, rgb(22, 1, 21) 73.2%);
    margin: 5rem 0 0 0;
    padding: 1rem 2rem;
  }
  .navbar__link {
    align-self: flex-start;
    display: initial;
    position: relative;
    cursor: pointer;
  }
  .navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }
}/*# sourceMappingURL=styles.css.map */