.hero.contacto::before{
    background-image: linear-gradient(180deg, #00000077 0%, #00000077 100%), url("../assets/img/fondo-hero-piedras.png");
} 

// Formulario Realizado con Bootstrap 


.contenedor form {
    max-width: 600px;
    display: flex;
    justify-content: $align_txt;
    margin: 0 auto;
    flex-direction: column;
}

.row__center{
    display: flex;
    justify-content: center;
}

.subtitle__form{
    margin-bottom: 2rem;
    text-align: $align_txt;
    font-size: 2rem;
    color: $subtitle;

    }

.form__paragraph{
    text-align: $align_txt;
    font-size: 1rem;
    color: $subtitle;
}

.form-label{
    font-weight: 600;
    color: $inputs;
    margin-top: 1.5rem;
}

.form-control{
    border: 3px solid $inputs;
    border-radius: 16px;
}

.form__paragraph{
    text-align: $align_txt;
    color: $main_colorbk;
}

.form-check{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: $inputs;
    font-weight: 600;
}

.form-check-input{
    border: 3px solid $price;
}

.form-check-input[type=checkbox]:checked{
    background-color: $price;
}

.form-check-input:checked{
    border: 3px solid $buttons_hov;
}

.form-control:focus{
    border: 3px outset #f54666;
}

.nav__items{
    list-style: none;
}
.nav__links--footer{
    display: flex;
    margin-right: 0.5rem;
    padding: 0.3rem 0.5rem;
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
}

.nav__links--footer:hover{
    color: $main_color;
    border-radius: 15px;
    background: $buttons_hov;
    margin-right: 0.5rem;
    padding: 0.3rem 0.5rem;
    box-shadow: $buttons;
    transition: .3s ease-in-out;
}


/* Fin Section Contacto */