/* Comienzo Section About */

main{
    .about{
        text-align: $align_txt;
        color: $main_colorbk;

        .subtitle{
            font-size: 2.5rem;
            margin-bottom: 2rem;
            text-align: $align_txt;
            color: $subtitle;
            font-weight: 600;
        }
        
        .about__paragraph{
            line-height: 1.7;
            margin-bottom: 2rem;
            font-weight: 600;
        }

        .about__main{
            padding-top: 5rem;
            padding-bottom: 2rem;
            display: grid;
            width: 90%;
            margin: 0 auto;
            gap: 2em;
            // font-size: 1.5rem;
            grid-template-columns: repeat(auto-fit, minmax(230px, auto));
            justify-content: center;

            .about__icons{
                display: grid;
                gap: 2em;
                justify-items: $align_txt;
                width: 15rem;
                overflow: hidden;
                margin: 1rem 0;
                padding: 2rem 0.8rem;
                background-color: $main_color;
                border-radius: 10px;
                box-shadow: $box_sdw1;
                cursor: default;
                transition: all 400ms ease;
                color: $main_colorbk;
                font-size: 400!important;
                
                .about__icon .fas i{
                    // width: 2rem;
                    font-size: 1rem;
                }

                .about__icon__plus{
                    width: 30px;
                    color: $main_colorbk;
                }

                &:hover{
                    box-shadow: $box_sdw3;
                    transform: translateY(-3%);
                    background: $gradient_bc5;
                    color: $main_color;
                    
                    .about__icon__plus{
                        color: $main_color;
                    }
                }
            } 
            
        }
    }
}


/* Fin Section About */