@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

$font: 'Roboto', sans-serif;
$align_txt: center;
$buttons:rgb(119, 1, 90);
$buttons_hov: rgb(187, 46, 138);
$footer_icons: rgb(218, 82, 184);
$box_sdw1: 5px 5px 20px rgba(88, 8, 68, 0.829);
$box_sdw2: -5px -5px 30px 18px rgba(69, 40, 94, 0.397);
$box_sdw3: 1px 1px 20px 10px rgba(88, 8, 68, 0.555);
$box_sdw4: 6px 6px 20px rgba(235, 132, 201, 0.849);
$inputs:rgb(133, 2, 100);
$main_color: rgb(255, 255, 255);
$main_colorbk: rgb(36, 35, 35);
$background_main: rgb(219, 216, 227);
$padding_cont: 100px 0;
$subtitle:rgb(133, 8, 101);
$subtitle_testimony:rgb(2, 17, 60);
$price:rgb(136, 42, 100);
$price_h3:rgb(246, 2, 105);
$gradient_bc3: linear-gradient(111.9deg, rgb(221, 49, 49) 0.3%, rgb(0, 8, 119) 100.7%);
$gradient_bc2: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
$gradient_bc1: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
$gradient_bc4: linear-gradient(180.8deg, rgb(54, 4, 51) 6.9%, rgb(22, 1, 21) 73.2%);
$gradient_bc5: linear-gradient(-225deg, #8a0444 0%, #600764 50%, #1a0a3d 100%);
